/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px !important;
}
.body {
    height: 99vh;
    max-height: 90vh;
}

#page-content-wrapper {
    background-color: grey;
}